.wrapper {
    margin: 50px;
}

.card {
    width: 18rem;
    margin: 30px 40px 30px 45px;
    display: inline-block;
}

.user-num,
.card-num,
.card-title,
.card-text,
.btn-primary {
    text-align: center;
}

.show-more-posts {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    margin-bottom: 20px;
}